.form-header {
    color: #fff;
    text-align: center;
    margin-top: -50px;
    margin-bottom: 3rem;
    padding: 1rem;
    border-radius: 2px;
}
.peach-gradient {
    background: -webkit-linear-gradient(50deg,#FFD86F,#FC6262);
    background: linear-gradient(40deg,#FFD86F,#FC6262);
}

.form-inline {
    //position: absolute;
    margin-bottom: 1.5rem;
}

.form-inline .prefix {
    transition: color 0.2s;
    //position: relative;
    width: 2.3rem;
    font-size: 1.5rem;
    padding-top: .5rem;
}

.form-inline > div {
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
    font-size: 0.8rem;
    line-height: 0.5;
    border-bottom: 1px solid #bdbdbd;
    display: flex;
    width: calc(100% - 3rem);
}

.form-inline label {
    color: #757575;
    font-size: 0.9rem;
}