<div id="intro" class="view hm-black-strong">
  <div class="container-fluid full-bg-img white-text d-flex align-items-center justify-content-center">
    <div class="row d-flex justify-content-center">
      <div class="col text-center font-bold">
        <h1 class="mb-5">{{title}}</h1>

        <div>
          <a href="#" class="btn btn-warning">Dodaj zlecenie</a>
          <a href="#" type="button" class="btn btn-warning">Lista zleceń</a>
          <a href="#" type="button" class="btn btn-warning">Kontrahenci</a>
        </div>

        <div>
          <a href="#" type="button" class="btn btn-warning">Tłumacze</a>
          <a href="#" type="button" class="btn btn-warning">Statystyki</a>
          <a href="#" type="button" class="btn btn-warning">Wyloguj</a>
        </div>
      </div>

    </div>
  </div>
</div>