/* You can add global styles to this file, and also import other style files */
html,
body,
header,
#intro {
    height: 100%;
}

.teal-text {
    color: #009688;
}

.red-text {
    color: red;
}

.blue-text {
    color: blue;
}