tr {
    cursor: pointer;
}

.min100px {
    min-width: 100px;
}

#orders-list {
    text-align: center;
}

#orders-list .type {
    border: 1px solid #fd7e14;
    border-radius: 50%;
    width: 1.4rem;
    margin: auto;
}

.container-80 {
    margin-left: 10%;
    margin-right: 10%;
}

.modal-body {
    overflow-y: overlay;
}

@media (min-width: 576px) {
.modal-dialog {
    max-width: 600px;
    }
}

.modal-odrder-details {
    width: 600px;
}

.form-group {
    display: flex;
    margin-left: 10px;
    margin-right: 50px;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: 0;
    height: initial;
}

.selectType {
    font-family: 'FontAwesome', 'Arial';
  }

.selectType option:first-child {
    color:blue;
}

.selectType option {
    color: red;
}