<div class="container-80">
  <div class="row">

    <!-- ORDERS list -->

    <table class="table table-hover" id="orders-list">
      <thead>
        <tr>
          <th>Id</th>
          <th>Klient</th>
          <th>Status</th>
          <th>Rodzaj</th>
          <th class="min100px">Data zlecenia</th>
          <th class="min100px">Data zakończenia</th>
          <th>Język</th>
          <th>Uwagi</th>
          <th>Cena dla klienta</th>
          <th>Ilość znaków</th>
          <th>Akcje</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders" (click)="select(order); orderDetails.show()">
          <td>{{order.id}}</td>
          <td>
            {{order.customer.firstName}} {{order.customer.lastName}}
            <!-- <a [routerLink]="['/order', order.id]">{{order.customer.firstName}} {{order.customer.lastName}}</a> -->
          </td>
          <td>{{statuses[order.status]}}</td>
          <!-- <td><div class="type">{{order.type}}</div></td> -->
          <td>
            <i *ngIf="order.type == 1" class="red-text fa fa-exclamation-circle" data-placement="top" data-toggle="tooltip"
              title="Przysięgłe"></i>
            <i *ngIf="order.type == 0" class="blue-text fa fa-cog" data-placement="top" data-toggle="tooltip" title="Zwykłe"></i>
          </td>
          <td>{{order.startDate}}</td>
          <td>{{order.endDate}}</td>
          <td>
            <span class="flag-icon flag-icon-gr"></span>{{order.sourceLang}} => {{order.destLang}}</td>
          <td>{{order.comments}}</td>
          <td>{{order.customerPrice}}</td>
          <td>{{order.characters}}</td>
          <td>
            <!-- <a class="blue-text" data-placement="top" data-toggle="tooltip" title="See results"><i class="fa fa-user"></i></a> -->
            <a class="teal-text" data-placement="top" data-toggle="tooltip" title="Edytuj" (click)="select(order); orderDetails.show()">
              <i class="fa fa-pencil"></i>
            </a>
            <a class="red-text" data-placement="top" data-toggle="tooltip" title="Usuń" (click)="select(order); deleteOrder.show()">
              <i class="fa fa-times"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- END ORDERS list -->

  </div>
</div>

<!--ngx-datatable
  problemy z własnymi rodzajami w komórkach
<div class="container">
  <div class="row">
    <ngx-datatable
    [rows]="orders"
    [columns]="columns"
    [messages]="tableMessages"
    >
    Ładowanie...
    </ngx-datatable>
    </div>
  </div>
  <button type="button" (click)="but()">Klik</button>
-->

<!-- <orders-list-details *ngIf="selected" [order]="selected"></orders-list-details> -->

<!-- MODAL order-details -->

<div mdbModal #orderDetails="mdb-modal" class="modal fade right" id="fullHeightModalRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-full-height modal-right modal-odrder-details" role="document" *ngIf="selected">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Szczegóły zlecenia nr {{selected.id}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="orderDetails.hide();">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form>

          <div class="form-group row">
            <label for="firstName" class="col-sm-2 col-form-label">Imię:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" [(ngModel)]="selected.customer.firstName" placeholder="Imię" name="firstName">
            </div>
          </div>
          <div class="form-group row">
            <label for="lastName" class="col-sm-2 col-form-label">Nazwisko:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" [(ngModel)]="selected.customer.lastName" placeholder="Nazwisko" name="lastName">
            </div>
          </div>
          <div class="form-group row">
            <label for="status" class="col-sm-2 col-form-label">Status:</label>
            <div class="col-sm-10">
              <select class="form-control" name="status" [(ngModel)]="selected.status">
                <option *ngFor="let status of statuses; let i = index" [value]="i">{{status}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
              <label for="type" class="col-sm-2 col-form-label">Rodzaj:</label>
              <div class="col-sm-10">
                  <select class="form-control selectType" name="type" [(ngModel)]="selected.type" [style.color]="selected.type == 1 ? 'red' : 'blue'">
                      <option value="0">&#xf013; Zwykłe</option>
                      <option value="1">&#xf06a; Przysięgłe</option>
                    </select>
              </div>
          </div>
          <div class="form-group row">
              <label for="type" class="col-sm-2 col-form-label">Data zlecenia:</label>
              <div class="col-sm-10">
              </div>
          </div>          

          <div class="form-group row">
            <label for="customer" class="col-sm-2 col-form-label">Uwagi:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" [(ngModel)]="selected.comments" placeholder="comments" name="comments">
            </div>
          </div>
        </form>

        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-primary waves-light" mdbRippleRadius (click)="save(); orderDetails.hide();">Save changes</button>
          <button type="button" class="btn btn-secondary waves-light" data-dismiss="modal" (click)="orderDetails.hide();" mdbRippleRadius>Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- END MODAL order-details -->

<!-- MODAL delete order warinng -->

<div mdbModal #deleteOrder="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-danger" role="document" *ngIf="selected">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">Potwierdź usunięcie</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="deleteOrder.hide()">
          <span aria-hidden="true" class="white-text">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <i class="fa fa-book fa-4x mb-3 animated rotateIn"></i>
          <p>Zamierzasz usunąć zlecenie nr: {{selected.id}}</p>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <a type="button" class="btn btn-primary-modal waves-light" mdbRippleRadius (click)="delete(); deleteOrder.hide()">Potwierdź
          <i class="fa fa-check ml-1"></i>
        </a>
        <a type="button" class="btn btn-outline-secondary-modal" data-dismiss="modal" (click)="deleteOrder.hide()" mdbRippleRadius>Anuluj</a>
      </div>
    </div>
  </div>
</div>

<!-- END MODAL delete order warinng -->
   